
<div class="background">
    <app-navbar></app-navbar>
    <div class="h1">
        <h1>
            ¿Que hace un Cirujano Maxilofacial? 
        </h1>
    </div>
   <div class="h5">
    <h5>
        Un Cirujano Maxilofacial se ocupa de la reconstrucción de las fracturas de la cara ocasionadas por traumatismos,
        y la cirugía ortognática para corregir las deformidades craneofaciales como los aumentos verticales y horizontales
        del maxilar y mandíbula. Realiza la reconstrucción de pacientes con labio y paladar hendidos,
        así como las secuelas de dicho padecimiento.
       </h5>
   </div>
   
   
</div>