
<div class="background">
    <app-navbar></app-navbar>
    <div class="p">
    <p>Correo: contacto@orthosign.com <br> Tel. (871) 717-91-22 <br>Nuestra ubicación </p>
  
</div>

   
<a href="https://www.google.com.mx/maps/place/Orthosign+Dental+Shop/@25.5642306,-103.430077,18z/data=!4m5!3m4!1s0x868fda35c1c06fab:0xeb39b8b8c0725cbc!8m2!3d25.5644023!4d-103.4297254" title="ubi">
	<img alt="imagen html de ejemplo" src="../../../../assets/ubicacion.jpg" height="250 px" width="300 px"  />
</a>
<div class="container">
<div class="row offset-md-6 col-md-3">
<a href="https://orthosign.com/es/" title="publici">
	<img alt="publi" src="../../../../assets/publicidad.jpg"  height="550 px" width="400 px"  />
</a>
</div>
<br>
<br>
<button type="button" class="btn btn-light btn-lg">Agenda tu cita</button>
</div>
</div>
